# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DirextXGame/FileContentIndex/453e7ecf-e9fa-40d4-8df4-19424d097baf.vsidx
.vs/DirextXGame/FileContentIndex/48598cef-72a6-4eda-ab02-f8d977d15d35.vsidx
.vs/DirextXGame/FileContentIndex/81af8a94-8c7d-4ea4-8dcc-f6b10f6f0ab1.vsidx
.vs/DirextXGame/FileContentIndex/89b97b7f-8530-42eb-83c3-17076f73ad67.vsidx
.vs/DirextXGame/FileContentIndex/d0f03986-6421-4d86-8f50-cb7c86992c22.vsidx
.vs/DirextXGame/FileContentIndex/e4e739ac-259f-41e8-a0dc-e1cbb8d5d8e3.vsidx
.vs/DirextXGame/FileContentIndex/e6317fb6-6696-4677-8fbd-846754919596.vsidx
.vs/DirextXGame/FileContentIndex/f504fb9d-dbbd-49d1-a197-0a1feea8109e.vsidx
.vs/DirextXGame/FileContentIndex/f55b3a4f-51ed-47ef-9305-940541a4db3c.vsidx
.vs/DirextXGame/FileContentIndex/fafff252-13ed-46f0-a17b-7332a43cbf4e.vsidx
.vs/DirextXGame/v17/.suo
.vs/DirextXGame/v17/Browse.VC.db
.vs/DirextXGame/v17/Browse.VC.db-shm
.vs/DirextXGame/v17/Browse.VC.db-wal
.vs/DirextXGame/v17/Browse.VC.opendb
.vs/DirextXGame/v17/ipch/AutoPCH/195ad6feaaa72317/APPWINDOW.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/354205da957a757a/WINDOW.ipch
Debug/DirextXGame.exe.recipe
Debug/DirextXGame.ilk
Debug/DirextXGame.log
Debug/DirextXGame.pdb
Debug/DirextXGame.tlog/CL.command.1.tlog
Debug/DirextXGame.tlog/Cl.items.tlog
Debug/DirextXGame.tlog/CL.read.1.tlog
Debug/DirextXGame.tlog/CL.write.1.tlog
Debug/DirextXGame.tlog/DirextXGame.lastbuildstate
Debug/DirextXGame.tlog/link.command.1.tlog
Debug/DirextXGame.tlog/link.read.1.tlog
Debug/DirextXGame.tlog/link.write.1.tlog
Debug/DirextXGame.vcxproj.FileListAbsolute.txt
Debug/vc143.idb
Debug/vc143.pdb
