# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DirextXGame/FileContentIndex/453e7ecf-e9fa-40d4-8df4-19424d097baf.vsidx
.vs/DirextXGame/FileContentIndex/48598cef-72a6-4eda-ab02-f8d977d15d35.vsidx
.vs/DirextXGame/FileContentIndex/81af8a94-8c7d-4ea4-8dcc-f6b10f6f0ab1.vsidx
.vs/DirextXGame/FileContentIndex/89b97b7f-8530-42eb-83c3-17076f73ad67.vsidx
.vs/DirextXGame/FileContentIndex/d0f03986-6421-4d86-8f50-cb7c86992c22.vsidx
.vs/DirextXGame/FileContentIndex/e4e739ac-259f-41e8-a0dc-e1cbb8d5d8e3.vsidx
.vs/DirextXGame/FileContentIndex/e6317fb6-6696-4677-8fbd-846754919596.vsidx
.vs/DirextXGame/FileContentIndex/f504fb9d-dbbd-49d1-a197-0a1feea8109e.vsidx
.vs/DirextXGame/FileContentIndex/f55b3a4f-51ed-47ef-9305-940541a4db3c.vsidx
.vs/DirextXGame/FileContentIndex/fafff252-13ed-46f0-a17b-7332a43cbf4e.vsidx
.vs/DirextXGame/v17/.suo
.vs/DirextXGame/v17/Browse.VC.db
.vs/DirextXGame/v17/Browse.VC.db-shm
.vs/DirextXGame/v17/Browse.VC.db-wal
.vs/DirextXGame/v17/Browse.VC.opendb
.vs/DirextXGame/v17/ipch/AutoPCH/195ad6feaaa72317/APPWINDOW.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/354205da957a757a/WINDOW.ipch
Debug/DirextXGame.exe.recipe
Debug/DirextXGame.ilk
Debug/DirextXGame.log
Debug/DirextXGame.pdb
Debug/DirextXGame.tlog/CL.command.1.tlog
Debug/DirextXGame.tlog/Cl.items.tlog
Debug/DirextXGame.tlog/CL.read.1.tlog
Debug/DirextXGame.tlog/CL.write.1.tlog
Debug/DirextXGame.tlog/DirextXGame.lastbuildstate
Debug/DirextXGame.tlog/link.command.1.tlog
Debug/DirextXGame.tlog/link.read.1.tlog
Debug/DirextXGame.tlog/link.write.1.tlog
Debug/DirextXGame.vcxproj.FileListAbsolute.txt
Debug/vc143.idb
Debug/vc143.pdb
.vs/DirextXGame/v17/ipch/AutoPCH/ae34bced27b84fa2/VERTEXBUFFER.ipch
.vs/DirextXGame/FileContentIndex/75a46bd7-6987-4ee8-a09a-10b4d3fbd46d.vsidx
.vs/DirextXGame/v17/ipch/AutoPCH/a06201d82677a469/DEVICECONTEXT.ipch
.vs/DirextXGame/FileContentIndex/915b16bb-c4a0-4a58-afaf-82e3f40f268a.vsidx
.vs/DirextXGame/FileContentIndex/016a2374-3fb5-4f88-bcac-834618b1ca14.vsidx
.vs/DirextXGame/FileContentIndex/0bbb6559-62ab-4ca1-a4cd-ae9906e0423c.vsidx
.vs/DirextXGame/FileContentIndex/5a851199-fb73-4d35-bb70-ea0f568d1378.vsidx
.vs/DirextXGame/FileContentIndex/af58e13c-395d-495d-b431-213cf7268877.vsidx
.vs/DirextXGame/FileContentIndex/b56ae8d0-1e0e-4610-8dca-39766b64cd57.vsidx
.vs/DirextXGame/FileContentIndex/d182bd06-7f49-4b6c-a231-d9acb16a8b48.vsidx
.vs/DirextXGame/FileContentIndex/e18075b8-5c70-430d-8273-13c57c8dfaf0.vsidx
.vs/DirextXGame/FileContentIndex/read.lock
.vs/DirextXGame/v17/.suo
.vs/DirextXGame/v17/Browse.VC.db
.vs/DirextXGame/v17/ipch/AutoPCH/5108d58b4c34f0e1/APPWINDOW.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/75297eec2cd0c97b/GRAPHICSENGINE.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/7a63f7b1a01d1f47/INPUTSYSTEM.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/97200db2559c42fa/INPUTSYSTEM.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/b78f4853976447c9/MATRIX4X4.ipch
.vs/DirextXGame/v17/ipch/AutoPCH/da6466e68f67ddf5/CUBE.ipch
.vs/DirextXGame/FileContentIndex/016a2374-3fb5-4f88-bcac-834618b1ca14.vsidx
.vs/DirextXGame/FileContentIndex/0bbb6559-62ab-4ca1-a4cd-ae9906e0423c.vsidx
.vs/DirextXGame/FileContentIndex/b56ae8d0-1e0e-4610-8dca-39766b64cd57.vsidx
.vs/DirextXGame/FileContentIndex/d182bd06-7f49-4b6c-a231-d9acb16a8b48.vsidx
.vs/DirextXGame/FileContentIndex/e18075b8-5c70-430d-8273-13c57c8dfaf0.vsidx
.vs/DirextXGame/v17/.suo
.vs/DirextXGame/v17/Browse.VC.db
Debug/DirextXGame.exe.recipe
Debug/DirextXGame.ilk
Debug/DirextXGame.log
Debug/DirextXGame.pdb
Debug/DirextXGame.tlog/CL.command.1.tlog
Debug/DirextXGame.tlog/Cl.items.tlog
Debug/DirextXGame.tlog/CL.read.1.tlog
Debug/DirextXGame.tlog/CL.write.1.tlog
Debug/DirextXGame.tlog/DirextXGame.lastbuildstate
Debug/DirextXGame.tlog/link.command.1.tlog
Debug/DirextXGame.tlog/link.read.1.tlog
Debug/DirextXGame.tlog/link.write.1.tlog
Debug/DirextXGame.vcxproj.FileListAbsolute.txt
Debug/vc143.idb
Debug/vc143.pdb
